.pageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

footer {
    position: relative;
    top: 120px;
    left: 5%;
    width: 90%;
    height: 220px;
}