.titleBox {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5% 5%;

    position: relative;
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;

    background: #F2BAA1;
    border-radius: 50px;
}

.avatar {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 25%;

    margin: auto;
    margin-left: 5%;

    border-radius: 50%;
    background-image: url('../resourses/ikonka.png');
    background-size: 100%;
}

.titleBox h1 {
    position: relative;
    margin: auto;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 900%;
    line-height: 86.52%;
}

h1 span {
    display: block;
}

@media all and (max-width:1100px) {
    .titleBox h1 {
        font-size: 75px;
    }
}

@media all and (max-width:600px) {
    .titleBox h1 {
        font-size: 45px;
    }
}
