.titleBox {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 65px;

    position: relative;
    width: 980px;
    margin-left: 90px;
    margin-top: 66px;

    background: #F2BAA1;
    border-radius: 50px;
}

.avatar {
    position: relative;
    width: 240px;
    height: 240px;

    margin: auto;
    margin-left: 20px;

    border-radius: 50%;
    background-image: url('../resourses/ikonka.png');
    background-size: 250px;
}

.titleBox h1 {
    position: relative;
    margin: auto;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 86.52%;
}

h1 span {
    display: block;
}
