.box{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    background-color: #BCAF4D;
    border: 5px solid white;
    text-align: center;
    transition: 0.1s linear;
    margin: 5%;
}

.box:hover{
    background-color: #6D8C00;
    transition: 0.1s linear;
    width: 310px;
    height: 310px;
}

.box h2{
    position: relative;
    top: 50%;
    margin-top: -0.900em;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 25pt;
}